*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}

/* Setting the size of carousel images */

.carousel-item img{
  width: 100%;
  height: 93vh;
}

.carousel-caption{
  bottom: 4.25rem !important;
}